@page
@model DatabaseAssessmentTool.Web.Pages.Assignments.IndexModel
@{
}

<h1>Assignments</h1>

<ul>
    @foreach (var assignment in Model.Assignments)
    {
        <li>
            <div>@assignment.AssignmentNr</div>
            <div>@assignment.AssignmentText</div>
        </li>
    }
</ul>
