@page "{id:int}"
@model DatabaseAssessmentTool.Web.Pages.Assignments.PracticeModel
@{
}

<h1>@Model.Assignment.DatabaseName assignment</h1>

<p>
    @Model.Assignment.AssignmentText
</p>

<form method="post">


</form>
