@page
@model DatabaseAssessmentTool.Web.Pages.Authentication.LoginModel

<form class="w-25 mx-auto" method="post">
    @if (Model.ErrorMessage != null)
    {
        <p class="alert alert-danger">
            @Model.ErrorMessage
        </p>
    }
    <p>
        <label class="form-label" asp-for="LoginRequest.Username">Username</label>
        <input class="form-control" type="text" asp-for="LoginRequest.Username" placeholder="s12341234" />
    </p>
    <p>
        <label class="form-label" asp-for="LoginRequest.Password">Password</label>
        <input class="form-control" type="password" asp-for="LoginRequest.Password" />
    </p>
    <p>
        <button class="btn btn-primary" type="submit">Login</button>
    </p>
</form>
