@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>With this web application you can do the practice exercises of the assessment tool of databases</p>
    <p>The only thing you need to do before working with this tool is login once into the database with <b>sql server management studio</b></b></p>
</div>
